:root {
  --bg-color: #000000;
  --start-btn-bg-color: rgba(48, 209, 88, 0.2);
  --start-btn-text-color: rgb(48, 209, 88);
  --start-btn-active-color: rgba(48, 209, 88, 0.1);
  --stop-btn-bg-color: rgba(255, 69, 58, 0.2);
  --stop-btn-text-color: rgb(255, 69, 58);
  --stop-btn-active-color: rgba(255, 69, 58, 0.15);
  --reset-btn-bg-color: #49494c;
  --reset-btn-text-color: #fff;
  --reset-btn-active-color: #222223;
  --lap-btn-bg-color: rgba(73, 73, 76, 0.5);
}

.stopwatch {
  height: 715px;
  width: 331px;
  background-color: var(--bg-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.timer--container {
  margin-top: 3rem;
}

p.time-display {
  font-variant-numeric: tabular-nums;
  color: white;
  font-weight: 100;
  font-size: 70px;
  text-align: center;
  padding-top: 11.1825rem;
}
